.wrapper {
  padding: 32px;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: $banner-dark-purple;
  color: $white;
  padding: 0;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  z-index: 1000;
  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: $cookie-banner-green;
  text-decoration: underline;
}

.cookie-btn1 {
  background: $cookie-banner-green;
  color: $banner-dark-purple;
  padding: 8px 16px;
  font-size: 11px;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  letter-spacing: 0.5px;
  min-width: 80px;
  margin: 0;
}

.cookie-btn1:hover{
  background-color: #00c5a9;
}

.cookie-btn2 {
  background: transparent;
  color: $white;
  padding: 8px 16px;
  font-size: 11px;
  cursor: pointer;
  border-radius: 20px;
  border: solid 1px $white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  min-width: 80px;
  margin: 0;
}
.cookie-btn2:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
