// @use "sass:map";

/* Colors */

//new brand colors
$brandpurple-dark:#8438FA;
$brandpurple-light:#E3CEFF;
$brand-black:#03031c;
$brand-light-green:#20EDBA;


$white: #fff;
$black: #000;

$brandpurple-1: #EDEDF9;
$brandpurple-2: #A8A8CF;
$brandpurple-3: #8A89B5;
$brandpurple-4: #7A79A1;
$brandpurple-7: #505071; // brand purplegrey
$purple-medium: #505071;
$brandpurple-9: #43435B;
$brandpurple-11: #36364C;
$purple-dark: #36364c;

$brandgreen-1: #D7F8F3;
$brandgreen-2: #00CDB0; // brand green
$green: #00CDB0;
$brandgreen-3: #2CA597; // green muted
$brandgreen-4: #258c80;

$yellow: #d6b218;
$yellow-muted: #e1c652;

$red: #ff6c7d; // accent color

/* Improve this page footer colors */
$improve-page-background: #f5f5f5;
$border-primary: #cdcdcd;

/* Elements */
$global-radius: 20px;


$header-height: 70px;
$header-height-small: 60px;
$header-tabs-height: 16px;



/* Breakpoints */
$breakpoints: (
	"small": 0,
	"medium": 640px,
	"large": 1024px,
	"xlarge": 1250px,
	"xxlarge": 1921px,
);


// invoque syntax:
//   @include breakpoint(medium)
//   @include breakpoint(medium, down)
@mixin breakpoint($size, $dir: 'up') {
	@if $dir == down {
		@media only screen and (max-width: map-get($breakpoints, $size)) {
			@content;
		}
	} @else {
		@media only screen and (min-width: map-get($breakpoints, $size)) {
			@content;
		}
	}
}

:root {
	--main-inline-padding: 30px;
	@media only screen and (min-width: 1250px) {
		--main-inline-padding: 50px;
	}
}
