@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.text-primary {
  color: var(
                  --action-primary-default,
                  var(--primary-primary-50, #8438fa)
  ) !important;
}

.text-dk {
  color: #515071;
}

.btn {
  border-radius: 20px;
}


.text-sec {
  color: var(--text-subdued, #515071);
}

.nav {
  display: flex;
  align-items: center;
}

@include breakpoint(large, up) {
  .nav_sub_active {
    border-bottom: 2px solid $brandpurple-dark;
  }
}

.fs-xs {
  font-size: 14px;
}

.step {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-action {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  align-items: center;
}

.search-input {
  border-radius: 8px;
  border: 1.2px solid var(--border-default, #d8d8df);
  background: var(--surface-neutral-default, #fff);
  display: flex;
  align-items: center;
  min-height: 37px;
  max-width: 250px;
}

.banner {
  // background-image: url('../img/leaf_background.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
  margin-left: 24px;
  margin-right: 24px;

}

.banner-c-right {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.home-section {
  margin-top: 40px;

}

.explore-section {
  // background-image: url('../img/gradiet_explore.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;

}

.image-container {
  display: flex;
  justify-content: center;
}

.component-heading {
  margin-bottom: 20px;
}

.home-section-heading {
  color: $brand-black;;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px ;
}

.home-section-pd {
  margin-bottom: 20px;
}

.stack-box {
  padding: 4px 4px 4px 13px;
  border-radius: 4px;
  border: 1px solid var(--border-default, #D8D8DF);
  background: var(--surface-neutral-default, $white);
  text-decoration: none !important;
  margin-bottom: 24px;
  align-items: center;
  display: flex;


}

.stack-heading {
  color: var(--action-primary-default, var(--primary-primary-50, #8438FA));
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

ol, ul {
  padding-left: 0;
}


.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100% !important;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-700 {
  font-weight: 700;
}

.lh-20 {
  line-height: 20px ;
}

.fs-16 {
  font-size: 16px;
}

.lh-normal {
  line-height: normal ;

}

.fs-normal {
  font-style: normal ;
}

.sec-btn {
  border-radius: 20px;
  border: 1.2px solid $brand-black;
  background: var(--surface-surface-100, $white);
  padding: 8px;
  color: $brand-black;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  &:hover {
    background: #E5E5E8;
  }
}

.text-black {
  color: $brand-black;
}

.home-mobile-margin {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .section-padding {
    padding-inline: 1%;
  }
}

.btn {
  border-radius: 20px;
}

.mn-btn {
  color: #03031C;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  border-radius: 20px;
  padding: 8px 16px;
  border: 1.2px solid #03031C;
  background: var(--secondary-secondary-50, #20EDBA);

  &:hover {
    background: var(--secondary-secondary-50, #20EDBA);
    color: #03031C;
    border: 1.2px solid #03031C;
  }
}

@include breakpoint(large, up) {
  .pr-40 {
    margin-right: 40px ;
    padding-bottom: 9px ;
    padding-top: 35px ;
  }
}

@media only screen and (max-width: 1024px) {
  .home-mobile-padding {
    padding-top: 0;
    padding-left: 0 ;
    padding-right: 0 ;

  }
}

@media (min-width: 1400px) {
  .container-xl, .container-xxl {
      max-width: 95% !important;
  }
}

@media (min-width: 1200px) {
  .container-xl {
      max-width: 97%;
  }
}
